# Python
__pycache__/
*.py[cod]
.env

# Large Media (Crucial!)
video_processing/models/checkpoints/
video_processing/temp/
outputs/
backend/test_outputs/

*.mp4
*.pth
*.MOV

.vscode/
.DS_Store
/DS_Store