services:
  mmdeploy:
    image: openmmlab/mmdeploy:ubuntu20.04-cuda11.8-mmdeploy
    container_name: mmdeploy
    
    # ram allocated
    shm_size: '8gb'

    # Keeps container running
    stdin_open: true
    tty: true

    ports:
      - "8000:8000"

    # Project Structure
    volumes:
      - ./:/workspace       # mounts server repo to /workspace in container
    
    # Working directory inside the container
    working_dir: /workspace

    # GPU Reservation (Standard for Nvidia Docker)
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]