services:
  dance_server:
    
    # build container from Dockerfile
    build:
      context: .
      dockerfile: Dockerfile
    
    container_name: dance_analysis_server
    
    # ram allocated
    shm_size: '8gb'

    # Project Structure
    volumes:
      - ./:/workspace       # mounts repo to /workspace in container
    
    # override CMD in docerfile to enable hot-reload
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

    ports:
      - "8000:8000"

    # Working directory inside the container
    working_dir: /workspace

    # GPU Reservation (Standard for Nvidia Docker)
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]