fastapi
uvicorn[standard]
python-multipart
boto3
numpy
opencv-python
python-json-logger

# Database
sqlalchemy
alembic
psycopg2-binary

# Authentication
passlib[bcrypt]
python-jose[cryptography]
email-validator

# Testing
pytest
pytest-asyncio
httpx
